@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

* {
  scrollbar-width: thin;
  scrollbar-color: #191919 #b3b3b3;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: #191919;
  border-radius: 1px;
}

*::-webkit-scrollbar-thumb {
  height: 30px;
  width: 30px;
  background-image: linear-gradient(360deg, rgba(179,179,179, 0.3) 50%, #191919 50%);
  border: 1px solid #191919;
  border-top-right-radius: 35px;
}

*::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(360deg, #b3b3b3 50%, #191919 50%);
  border: 1px solid #191919;
}
